.acerca-de{
  widows: 100%;
  height: 1150px;
  margin-top: 0;
  position: relative;
}
.acerca-de img {
    width: 100%;
    height:  1150px;
}

.contenedor-secciones-acerca{
    width: 100%;
    height: 1120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.acerca-de .contenedor{
    width: 90%;
    height: 360px;
    position: relative;
    margin-top: 20px;
}
.acerca-de .contenedor-galeria {
    margin: auto;
    width: 90%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
h2{
    display: flex;
    justify-content: center;
    font-family: 'Bree Serif', serif;
    font-size: 28px;
    color: #d8bd38;  
}

.acerca-de p {
    width: 50%;
    text-align: justify;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-80%) translateY(-60%);
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #E2E8E4;
}
.acerca-de .contenedor img {
    width: 60%;
    height: 180px;
    display: block;
    margin-left: 120px;
    margin-top: 140px;
    position: relative;

}

.carta-box {
    width: 250px;
    height: 300px;
    margin: auto;
    margin-top: 25px;
    position: relative;
    perspective: 1000px;
    margin-bottom: 30px;
  }

  .carta img {
      width: 250px;
      height: 300px;
      /* border-radius: 8px; */
  }
  .carta-box:hover .carta {
    transform: rotateY(180deg);
}

.carta {
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.cara {
  position: absolute;
  backface-visibility: hidden;
}

.cara.detras {
  transform: rotateY(180deg);
}
  