.proyectos{
    width: 100%;
    height: 1150px;
    position: relative;

}
.proyectos img {
    width: 100%;
    height:  1150px;
}

.proyectos .contenedor{
    width: 100%;
    height: 1130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.contenedor-proyectos{
    width: 60%;
    height: 200px;
    background-color:	#d18cce;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.md-links .contenedor-proyectos,
.burger-queen .contenedor-proyectos {
    display: flex;
    justify-content: flex-end;
}




.proyectos .contenedor-secciones {
    width: 40%;
    height: 120px;
    font-size: 12px;
}
.data-lovers .contenedor-secciones,
.red-social .contenedor-secciones {
    position: absolute;
    top: 50%;
    left: 74%;
    transform: translateX(-50%) translateY(-60%);
}

.md-links,
.burger-queen  {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;

}
.md-links .contenedor-secciones,
.burger-queen .contenedor-secciones {
    top: 50%;
    right:20px;
    transform: translateX(18%) translateY(-5%);
}


.data-lovers,
.red-social{
    margin-top: 50px;
    position: relative;
}



.proyectos .contenedor img {
    width: 80%;
    height: 170px;
}

.proyectos h1 {
    display: flex;
    justify-content: center;
    color: #d8bd38;
    font-size: 30px;
    font-family: 'Bree Serif', serif;
    margin-top: 30px;
}

.proyectos h5{
    font-size: 15px;
    color: #d8bd38;
    font-family: 'Alegreya Sans', sans-serif;
}
.proyectos p {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-align: justify;
    color: white;
} 

.link{
width: 70px;
font-size:12px;
text-align: center;
display: block;
color:#d8bd38;
text-decoration: none;
padding: 5px;
margin-top: 10px;
border: 2px solid #d8bd38;
font-family: 'Raleway', sans-serif;
border-radius: 4px;
}

@media (min-width:1024px) {
    .proyectos{
        height: 1500px;
    }
   .proyectos .contenedor{
    width: 80%;
    height: 1380px;
    margin: auto;
   } 
   .proyectos img {
    height:  1500px;
    }
    .proyectos h1{
        font-size: 38px;
    }
    .contenedor-proyectos{
        width: 42%;
        height: 250px;
        position: relative;
    }

    .proyectos .red-social img,
    .proyectos .data-lovers img{
        width: 55%;
        height: 85%;
        position: absolute;
        transform: translateX(100%) translateY(-0%);
        border: 7px solid #E2E8E4;
    }
    
    .md-links,
    .burger-queen  {
        display: flex;
        justify-content: flex-end;
        position: relative;
    }

    .proyectos .md-links img,
    .proyectos .burger-queen img{
        width: 55%;
        height: 85%;
        position: absolute;
        transform: translateX(-100%) translateY(-0%);
        border: 7px solid #E2E8E4;
    }

    .proyectos .contenedor-secciones {
        width: 30%;
        height: 120px;
        font-size: 12px;
    }

    .proyectos p {
        font-size: 17px;
    } 
    .proyectos h5{
        font-size: 19px;
    }

    .md-links .contenedor-secciones,
    .burger-queen .contenedor-secciones {
    transform: translateX(-55%) translateY(25%);
}

}